<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="/build/js/bundle.js"></script>
<!--<script src="/scripts/vendor/jquery.min.js"></script>
<script src="/scripts/vendor/moment.min.js"></script>
<script src="/scripts/vendor/numeral.min.js"></script>
<script src="/scripts/vendor/Chart.bundle.min.js"></script>-->
<!--<script src="/scripts/map.js"></script>
<script src="/scripts/graphs.js"></script>
<script src="/scripts/table.js"></script>-->
<!-- the mousewheel plugin - optional to provide mousewheel support -->
<!-- the jScrollPane script -->
<script src="/assets/tabulator/dist/js/tabulator.min.js"></script>
<script src="/assets/semantic/dist/semantic.min.js"></script>


<!--<script src="/scripts/vendor/jquery.jscrollpane.min.js"></script>
<script src="/scripts/vendor/jquery.mousewheel.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>-->
<script>
    $(document).ready(function() {
        $(".ui.toggle.button.nav").click(function() {
            $(".mobile.only.grid .ui.vertical.menu").toggle(100);
      ***REMOVED***);
        $("#myNav .item.close").click(function() {
            $(".mobile.only.grid .ui.vertical.menu").toggle(100);
      ***REMOVED***);

        $(".ui.dropdown").dropdown();
  ***REMOVED***);
</script>
</body>
</html>
