</body>
<script src="/scripts/jquery.min.js"></script>
<script src="/assets/semantic/dist/semantic.min.js"></script>
<script src="/scripts/map.js"></script>
<!-- the mousewheel plugin - optional to provide mousewheel support -->
<script type="text/javascript" src="/scripts/jquery.mousewheel.js"></script>
<!-- the jScrollPane script -->
<script type="text/javascript" src="/scripts/jquery.jscrollpane.min.js"></script>
</html>