<!DOCTYPE html5>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/build/css/stylesheet.css">

    <title>Covid-19 Live Tracker: SA</title>
</head>
<script>

</script>
<style>
    html {
        scroll-behavior: smooth;
    }
</style>

<body>
<header class="" id="myNav">
    <div class="ui tablet computer only padded grid">
        <nav class="ui fixed fluid huge menu" style="overflow: hidden;">
            <div class="ui container centered grid">
                <a href="/" class="header item">Rona Tracker SA</a>
                <a href="/" data-section="#myNav" class="active item fluid">Home</a>
                <a href="#myStatsHeading" data-section="#myStats" class="item fluid">Stats</a>
                <a href="#myMapHeading" data-section="#myMap" class="item fluid">Map</a>
                <a href="#myGraphsHeading" data-section="#myGraphs" class="item  fluid">Graphs</a>
                <a href="#myTableHeading" data-section="#myTable" class="item ">Historical</a>
                <a href="#" class="item ">About</a>
            </div>
        </nav>
    </div>
    <div class="ui mobile only padded grid">
        <div class="ui borderless huge fluid fixed menu">
            <a href="/" class="header item">Rona Tracker SA</a>
            <div class="right menu">
                <div class="item">
                    <button class="ui icon toggle basic button nav">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
            <div class="ui vertical borderless fluid menu">
                <a href="/" class="item active close">Home</a>
                <a href="#myStatsHeading" class="item close">Stats</a>
                <a href="#myMap" class="item close">Map</a>
                <a href="#myGraphs" class="item  close">Graphs</a>
                <a href="#myTable" class="item  close">Historical</a>
                <a href="#" class="item ">About</a>
            </div>
        </div>
    </div>
</header>
