<!DOCTYPE html5>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/assets/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/map_styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index_styles.css">
    <!-- styles needed by jScrollPane -->
    <link type="text/css" href="/stylesheets/jquery.jscrollpane.css" rel="stylesheet" media="all" />

    <title>Covid-19 Live Tracker: SA</title>
</head>


<body>
    <header class="top fixed">
        <nav class="ui secondary pointing menu ">
            <a class="item active">
                Stats
            </a>
            <a class="item">
                Map
            </a>
            <a class="item ">
                Graphs
            </a>
            <a class="item ">
                Historical
            </a>
            <a class="item ">
                About
            </a>
        </nav>
    </header>