$font:    Helvetica, sans-serif;

.container.segment.main{
    text-align: center;
    width: 99%;
    padding: 0 2%;
    margin: 0 auto;
***REMOVED***

.ui.statistics {
    /* text-align: center;***REMOVED***/
	width: 100%;
    margin: 0 auto;
    display: inline-block;
***REMOVED***	

