$colour0: #b9b9b9;
$colour1: #fc9297;
$colour2: #D87582;
$colour3: #b82020;
$colour4: #830000;

%equal-heights {
display: flex;
flex-wrap: wrap;
***REMOVED***

.contentContainer{
    width: 80%;
    margin: 0 auto;
***REMOVED***

.land {
	fill: #cbd9db;
	stroke: white;
	stroke-width: 1.5;
	stroke-miterlimit: 4;
	.valid{
			&:hover{
			opacity: 0.8;
		***REMOVED***
	***REMOVED***
***REMOVED***

/* chloropleth map***REMOVED***/
.colour0 {fill: $colour0;***REMOVED***
.colour1 {fill: $colour1;***REMOVED***
.colour2 {fill: $colour2;***REMOVED***
.colour3 {fill: $colour3;***REMOVED***
.colour4 {fill: $colour4;***REMOVED***

.land.valid:hover {
	opacity: 0.8;
***REMOVED***


#svg-container
{
  display: flex;
  position:relative;
  align-items: center;
  height: 100%;
  display: -webkit-flex; /* Safari***REMOVED***/  
	display: flex;
	-webkit-align-items: center; /* Safari 7.0+***REMOVED***/
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
***REMOVED***

#svg-1
{
	// margin-top:3rem;
	 width: 50%; 
	// padding-bottom: 45%; 
	// height: 1px; 
	overflow: visible
	
***REMOVED***


