$colour0: #b9b9b9;
$colour1: #fc9297;
$colour2: #D87582;
$colour3: #b82020;
$colour4: #830000;

%equal-heights {
display: flex;
flex-wrap: wrap;
***REMOVED***

.contentContainer{
    width: 80%;
    margin: 0 auto;
***REMOVED***

.land {
	fill: #cbd9db;
	stroke: white;
	stroke-width: 1.5;
	stroke-miterlimit: 4;
	&.valid{
		transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		&:hover{
			opacity: 0.7;
		***REMOVED***
	***REMOVED***
***REMOVED***

/* chloropleth map***REMOVED***/
.colour0 {fill: $colour0;***REMOVED***
.colour1 {fill: $colour1;***REMOVED***
.colour2 {fill: $colour2;***REMOVED***
.colour3 {fill: $colour3;***REMOVED***
.colour4 {fill: $colour4;***REMOVED***

#svg-1
{
	// margin-top:3rem;
	width: 50%; 
	overflow: visible
***REMOVED***

#country-name {
	dominant-baseline: hanging;
	transition: opacity 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
	opacity: 0;
***REMOVED***

.lightBack{
	fill: rgba(190, 190, 190, 0.801);
***REMOVED***

#legTitle{

***REMOVED***

