node_modules/
.idea
/Coronavirus in SA  All the confirmed cases   Health24-1_files/
/Coronavirus in SA  All the confirmed cases   Health24-2_files/
Coronavirus in SA  All the confirmed cases   Health24-1.html
Coronavirus in SA  All the confirmed cases   Health24-2.html
Test1.pdf
Test2.pdf
test3.pdf
testOutput_Full_Info.pdf
yarn-error.log
.vscode/
