        <%# About %>
        <h2 id="myAboutUsHeading" class="ui header white">About Site</h2>
        <p>
            Covid-19 Tracker is a website that tries to be a reliable source of Covid-19 infection details in South Africa.
            Although primarily aimed at desktop browsers and tablets, mobile works well enough.

            Web crawling is used to parse information from 3 sites:
        </p>
        <p>
            <ul>
                <li><a href="https://sacoronavirus.co.za">SA Corona Virus</a></li>
                <li><a href="https://www.health24.com/Medical">Health24</a></li>
                <li><a href="https://www.worldometers.info/coronavirus/">Worldometer</a></li>
            </ul>
        </p>
        <p>
            All care is taken to insure that stats are as accurate and up-to-date as possible. If any errors are noted, please contact the admin (information in footer).
        </p>
        <p>
            <small>N.B. - The situation is flexible, and this site may change or go down for short periods of times.</small>
        </p>

