        <%# About %>
        <h1 id="myAboutUsHeading" class="ui main header block top attached">About Site</h1>
        <section class="ui segment padded raised attached">
            <p class="ui text">
                Covid-19 Tracker is a website that tries to be a reliable source of Covid-19 infection details in South Africa.
                Although primarily aimed at desktop browsers and tablets, mobile works well enough.

                Web crawling is used to parse information from 3 sites:
            </p>
            <div class="ui left aligned animated list">
                <a class="item" target="_blank" href="https://sacoronavirus.co.za">SA Corona Virus</a>
                <a class="item" target="_blank" href="https://www.health24.com/Medical">Health24</a>
                <a class="item" target="_blank" href="https://www.worldometers.info/coronavirus/">Worldometer</a>
            </div>

            <p class="ui text">
                All care is taken to insure that stats are as accurate and up-to-date as possible. If any errors are noted, please contact the admin (information in footer).
            </p>
            <br/>
            <p class="ui text">
                <small>N.B. - The situation is flexible, and this site may change or go down for short periods of times.</small>
            </p>
        </section>

