<%- include("./partials/header") %>

<div class="container segment main center">
    <div id="myTitle" class="ui segment ">
        <h1 id="t1" class="ui header center align block">
            <span><%=data%></span>
        </h1>
    </div>

    <%# Stats %>
    <section class="ui segment">
        <div class="ui two column stackable center aligned grid">
            <div class="ui"></div>
            <div class="middle aligned row">
                <div class="column">
                    <h2 class="center aligned">Summary Statistics</h2>
                    <div class="ui statistics three stackable left aligned">
                        <div class="ui red large statistic">
                            <div class="ui large value">
                                31,200
                            </div>
                            <div class="label">
                                Total Cases
                            </div>
                        </div>
                        <br>
                        <div class="statistic orange">
                            <div class="value">
                                25
                            </div>
                            <div class="label">
                                Total Deaths
                            </div>
                        </div>
                        <br>
                        <div class="statistic blue">
                            <div class="value">
                                450
                            </div>
                            <div class="label">
                                Total Recoveries
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h2 class="center aligned ">Graphs</h2>
                    <p>Just some random text to be replaced later by Tumo</p>
                </div>
            </div>
        </div>
    </section>

    <%# Map %>
    <section class="ui segment map section expand raised ">
        <h2 class="ui center aligned header block">Provincial Map</h2>
        <%- include("./map/mapFile") %>
    </section>

    <%# Stats %>
    <section class="ui segment">
        <div class="ui two column stackable center aligned grid">
            <div class="ui"></div>
            <div class="middle aligned row">
                <div class="column">
                    <div class="ui statistics left aligned">
                        <div class="statistic">
                            <div class="value">
                                31,200
                            </div>
                            <div class="label">
                                Total Cases
                            </div>
                        </div>
                        <br>
                        <div class="statistic">
                            <div class="value">
                                25
                            </div>
                            <div class="label">
                                Total Deaths
                            </div>
                        </div>
                        <br>
                        <div class="statistic">
                            <div class="value">
                                450
                            </div>
                            <div class="label">
                                Total Recoveries
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column ">
                    <p>Just some random text to be replaced later by Tumo</p>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include("./partials/footer") %>