<%- include("./partials/header") %>

<div class="container segment main center">
    <header class="ui segment">
        <h1><%=data%></h1>
    </header>

    <%# Stats %>
    <section class="ui segment">
      <div class="ui two column stackable center aligned grid">
        <div class="ui"></div>
        <div class="middle aligned row">
          <div class="column">
            <div class="ui statistics left aligned">
                <div class="statistic">
                    <div class="value">
                        31,200
                    </div>
                    <div class="label">
                        Total Cases
                    </div>
                </div>
                <br>
                <div class="statistic">
                    <div class="value">
                        25
                    </div>
                    <div class="label">
                        Total Deaths
                    </div>
                </div>
                <br>
                <div class="statistic">
                    <div class="value">
                        450
                    </div>
                    <div class="label">
                        Total Recoveries
                    </div>
                </div>
            </div>
          </div>
          <div class="column ">
            <p >Just some random text to be replaced later by Tumo</p>
          </div>
        </div>
      </div>
    </section>

    <%# Map %>
    <section class="ui segment map">
        <%- include("./map/mapFile") %>
    </section>
    
</div>

<%- include("./partials/footer") %>