.contentContainer{
    width: 80%;
    margin: 0 auto;
}

.land {
	fill: #cbd9db;
	stroke: white;
	stroke-width: 1.5;
	stroke-miterlimit: 4;
}

/* chloropleth map */
.colour0 {fill: #b9b9b9;}
.colour1 {fill: #ff969b;}
.colour2 {fill: #ce5263;}
.colour3 {fill: #b11717;}
.colour4 {fill: #47000a;}

.series:hover .land.valid {
	opacity: 0.8;
}